<!-- Ładowanie ajaxem -->
<%if (!isAdminLogged) {%>
<h1 class="liveHeader">KLASYFIKACJA</h1>
<h1 class="czatHeader">CZAT ONLINE</h1>
<% } else {%>
<h1 class="liveHeader">WPROWADŹ DANE</h1>
<h1 class="czatHeader">KLASYFIKACJA</h1>
<% } %>
<div id="liveWrapper">
		<%if (!isAdminLogged) {%>
		<div id="leftColumn">
			<div id="headerLiveRelation" style="width:483px;">
			   <div class="columnKlasyf" style='width: 18px'>#</div>
			   <div class="columnKlasyf" style='width: 133px'>Skoczek</div>
			   <div class="columnKlasyf" style='width: 35px; padding-left: 0px'>Kraj</div>
			   <div class="columnKlasyf" style='width: 45px; padding-left: 9px'>Skok</div>
			   <div class="columnKlasyf" style='width: 40px; padding-left: 8px'>Pkt</div>
			   <div class="columnKlasyf" style='width: 50px; padding-left: 5px'>Skok</div>
			   <div class="columnKlasyf" style='width: 35px; padding-left: 3px'>Pkt</div>
			   <div class="columnKlasyf" style='width: 40px; padding-left: 0px'>Wynik</div>
			</div>
			<div id="liveRelation" style="font-size: small; width: 483px;">
			</div>
			<% } else { %>
		<div id="leftColumn" style="overflow-y: auto;">
			<div id="alertData"></div>
			<div><div id="naglowek">Punkt K skoczni</div>
			<input type="text" id="punktK" style="width: 50px;" value="120"></div>
			<div><div id="naglowek">Imię i nazwisko</div>
			<div class="ui-widget">
				<input type="text" id="imieSkoczka" style="width: 250px"></div>
				<label id="wpis"></label>
			</div>
			
			<div><div id="naglowek">Kraj</div>
			<select id="adminMsg5">
			   <script>
			        var kraje = new Array('AUT','SLO','GER','POL','JPN','FIN','RUS','NOR','ITA','GRE','FRA','CHN','CZE','UKR','USA','SUI','KOR','BUL');
				kraje.sort();
			        for (var i=kraje.length-1;i>=0;i--) {
			        if ( kraje[i]=="POL" ) {
			        $('#adminMsg5').prepend('<option val="'+kraje[i]+'" selected>'+kraje[i]+'</option>');					
			        } else {
			        $('#adminMsg5').prepend('<option val="'+kraje[i]+'">'+kraje[i]+'</option>');
				}
				}
			   </script>
		        </select>
			</div>
			<br />
			<div id="roundsContainer">
				<div id="firstRound">
					<div id="block"><div style="float: left">Skok 1</div>
					<input type="text" id="skok1" style="width: 70px"></div>
					<div id="block"><div style="float: left">Wiatr</div>
					<input type="text" id="wind" style="width: 70px"></div>
					<div id="block"><div style="float: left">Nota 1</div>
					<input type="text" id="nota1" style="width: 70px"></div>
					<div id="block"><div style="float: left">Nota 2</div>
					<input type="text" id="nota2" style="width: 70px"></div>
					<div id="block"><div style="float: left">Nota 3</div>
					<input type="text" id="nota3" style="width: 70px"></div>
					<div id="block"><div style="float: left">Nota 4</div>
					<input type="text" id="nota4" style="width: 70px"></div>
					<div id="block"><div style="float: left">Nota 5</div>
					<input type="text" id="nota5" style="width: 70px"></div>
				</div>
				
				<div id="secondRound">
					<div id="block"><div style="float: left">Skok 2</div>
					<input type="text" id="skok2" style="width: 70px"></div>
					<div id="block"><div style="float: left">Wiatr</div>
					<input type="text" id="wind2" style="width: 70px"></div>
					<div id="block"><div style="float: left">Nota 1</div>
					<input type="text" id="nota6" style="width: 70px"></div>
					<div id="block"><div style="float: left">Nota 2</div>
					<input type="text" id="nota7" style="width: 70px"></div>
					<div id="block"><div style="float: left">Nota 3</div>
					<input type="text" id="nota8" style="width: 70px"></div>
					<div id="block"><div style="float: left">Nota 4</div>
					<input type="text" id="nota9" style="width: 70px"></div>
					<div id="block"><div style="float: left">Nota 5</div>
					<input type="text" id="nota10" style="width: 70px"></div>	
				</div>
			</div>

			<% } %>
		</div>

		<div id="rightColumn">
			<%if (isAdminLogged) {%>
			<div id="privateMessage">
			    <div class="cloud"></div>
			    <div class="cloudDynks"></div>
			    <div class="userData">
				<div class="nick"></div>
			    </div>
			</div>
			<div id="headerLiveRelation" style="width:483px;">
			   <div class="columnKlasyf" style='width: 18px'>#</div>
			   <div class="columnKlasyf" style='width: 140px; padding-left: 0px'>Skoczek</div>
			   <div class="columnKlasyf" style='width: 30px; padding-left: 0px'>Kraj</div>
			   <div class="columnKlasyf" style='width: 45px; padding-left: 16px'>Skok</div>
			   <div class="columnKlasyf" style='width: 45px; padding-left: 7px'>Pkt</div>
			   <div class="columnKlasyf" style='width: 45px; padding-left: 1px'>Skok</div>
			   <div class="columnKlasyf" style='width: 40px; padding-left: 7px'>Pkt</div>
			   <div class="columnKlasyf" style='width: 45px; padding-left: 0px'>Wynik</div>
			</div>
			<div id="liveRelation" style="font-size: small; width: 483px;">
			</div>
			<% } %>
		</div>
</div>
		<div id="postWrapper">
		    
		    <div id="postLeft">
			<%if (isAdminLogged) {%>
			<a id="getResults" href="#">Znajdź</a>
			<a id="sendLeft" href="#">Dodaj 1 serię</a>
			<a id="updateResult1" href="#">Edytuj 1 serię</a>
			<a id="removeResult" href="#">Usuń</a>
			<a id="addUpdateResult2" href="#">Dodaj 2 serię</a>
			<a id="destroy" href="#">Czyść</a>
			<%} else {%>
			<div id="headerInput">Napisz do admina</div>
			<textarea rows="" id="pmToAdmin" cols="" ></textarea>
			<br><br>
			<a id="sendPMToAdmin" href="#">wyślij</a>
			<% } %>
		    </div>
		    
                    <div id="postRight">
			<%if (!isAdminLogged) {%>
			<div id="headerInput">Wpisz wiadomość</div>
			<textarea rows="" id="userMsg" cols="" ></textarea>
			<br><br>
			<a id="sendRight" href="#">wyślij</a>
			<% } else { %>
			<div id="headerInput" style="width: 200px; padding-left: 270px">Odpowiedz użytkownikowi</div>
			<select id="privateMessages">
			</select>
			<textarea rows="" id="adminResponse" cols="" ></textarea>
			<br><br>
			<a id="answerToUser" href="#">wyślij</a>
			<% } %>
		    </div>
		
		<script>
		
		$(document).ready(function(){

  h = $(window).height();
  
  $('#liveWrapper').css({height:(h-($('#header').height()*2)-$('#postWrapper').height()-$('#liveHeader').height())+30});
  
  });
  
  resizeElements = function(){
  
  h = $(window).height();
  $('#liveWrapper').css({height:(h-($('#header').height()*2)-$('#postWrapper').height()-$('#liveHeader').height())+30});
  };
	$(window).on('resize',resizeElements);		
			var socket = io.connect("localhost:3000");
			<%if (isAdminLogged) {%>
			$('#privateMessage').hide();
			document.getElementById('punktK').focus();
			adminSendMsg = function(jumper,nation,jump,wind,nota1,nota2,nota3,nota4,nota5,points,punktk){
			    // Nadanie punktacji za metr zależnie od Punkt-K skoczni
			    if ( +punktk < 100 ) {
				var metr = 2.0;
			    } else if ( +punktk >= 100 && +punktk < 135 ){
			        var metr = 1.8;
			    } else {
			        var metr = 1.2;
			    }
			    // Nadanie ograniczenia liczenia punktów za metry skoku zależnie od Punktu-K
			    if ( +jump > punktk ){
			          jumpPoints = ((+jump - +punktk)*(+metr)+60+(+points)+(wind*10)).toFixed(1);
			    } else if ( +punktk < 100 ) {
			          if ( +jump < (+punktk)-30 ){
			              jumpPoints = ((+points)+(wind*10)).toFixed(1);	
			          }
			          else {
			              jumpPoints = ((+punktk - (+jump))*(-1)*(+metr)+60+(+points)+(wind*10)).toFixed(1);	
			          }
			    } else if ( +punktk >= 100 && +punktk < 135 ) {
				  if ( +jump < (+punktk)-33 ){
			              jumpPoints = ((+points)+(wind*10)).toFixed(1);	
			          }
			          else {
			              jumpPoints = ((+punktk - (+jump))*(-1)*(+metr)+60+(+points)+(wind*10)).toFixed(1);	
			          }
			    } else {
			          if ( +jump < (+punktk)-50 ){
			              jumpPoints = ((+points)+(wind*10)).toFixed(1);	
			          }
			          else {
			              jumpPoints = ((+punktk - (+jump))*(-1)*(+metr)+60+(+points)+(wind*10)).toFixed(1);	
			          }
			    }
			    var jump2Points = 0;
			    var result = ((+jumpPoints) + (+jump2Points)).toFixed(1);
			    
			    socket.emit('adminChannel', jumper,nation,jump,wind,nota1,nota2,nota3,nota4,nota5,jumpPoints,0,0,0,0,0,0,0,jump2Points,result,"add");
			    $('#alertData').text("");
			    $('#imieSkoczka, #skok1, #nota1, #nota2, #nota3, #nota4, #nota5, #wind').val("");
			    $('#skok2, #nota6, #nota7, #nota8, #nota9, #nota10, #wind2').val("");
			    document.getElementById('imieSkoczka').focus();
			}
			
			adminUpdate1SeriaMsg = function(jumper,nation,jump,wind,nota1,nota2,nota3,nota4,nota5,points,jump2,wind2,nota6,nota7,nota8,nota9,nota10,jump2Points,punktk){
			    // Nadanie punktacji za metr zależnie od Punkt-K skoczni
			    if ( +punktk < 100 ) {
				var metr = 2.0;
			    } else if ( +punktk >= 100 && +punktk < 135 ){
			        var metr = 1.8;
			    } else {
			        var metr = 1.2;
			    }
			    // Nadanie ograniczenia liczenia punktów za metry skoku zależnie od Punktu-K
			    if ( +jump > punktk ){
			          jumpPoints = ((+jump - +punktk)*(+metr)+60+(+points)+(wind*10)).toFixed(1);
			    } else if ( +punktk < 100 ) {
			          if ( +jump < (+punktk)-30 ){
			              jumpPoints = ((+points)+(wind*10)).toFixed(1);	
			          }
			          else {
			              jumpPoints = ((+punktk - (+jump))*(-1)*(+metr)+60+(+points)+(wind*10)).toFixed(1);	
			          }
			    } else if ( +punktk >= 100 && +punktk < 135 ) {
				  if ( +jump < (+punktk)-33 ){
			              jumpPoints = ((+points)+(wind*10)).toFixed(1);	
			          }
			          else {
			              jumpPoints = ((+punktk - (+jump))*(-1)*(+metr)+60+(+points)+(wind*10)).toFixed(1);	
			          }
			    } else {
			          if ( +jump < (+punktk)-50 ){
			              jumpPoints = ((+points)+(wind*10)).toFixed(1);	
			          }
			          else {
			              jumpPoints = ((+punktk - (+jump))*(-1)*(+metr)+60+(+points)+(wind*10)).toFixed(1);	
			          }
			    }
			    var result = ((+jumpPoints) + (+jump2Points)).toFixed(1);
			    socket.emit('addUpdateResult', jumper,nation,jump,wind,nota1,nota2,nota3,nota4,nota5,jumpPoints,jump2,wind2,nota6,nota7,nota8,nota9,nota10,jump2Points,result);
			    socket.emit('removeThisResult',jumper);
			    socket.emit('adminChannel', jumper,nation,jump,wind,nota1,nota2,nota3,nota4,nota5,jumpPoints,jump2,wind2,nota6,nota7,nota8,nota9,nota10,jump2Points,result,"update");
			    $('#alertData').text("");
			    $('#imieSkoczka, #skok1, #nota1, #nota2, #nota3, #nota4, #nota5, #wind').val("");
			    $('#skok2, #nota6, #nota7, #nota8, #nota9, #nota10, #wind2').val("");
			    document.getElementById('imieSkoczka').focus();
			}
			
			adminUpdate2SeriaMsg = function(jumper,nation,jump1,wind1,nota1,nota2,nota3,nota4,nota5,jump1Points,jump,wind,nota6,nota7,nota8,nota9,nota10,points,punktk){
			    // Nadanie punktacji za metr zależnie od Punkt-K skoczni
			    if ( +punktk < 100 ) {
				var metr = 2.0;
			    } else if ( +punktk >= 100 && +punktk < 135 ){
			        var metr = 1.8;
			    } else {
			        var metr = 1.2;
			    }
			    // Nadanie ograniczenia liczenia punktów za metry skoku zależnie od Punktu-K
			    if ( +jump > punktk ){
			          jumpPoints = ((+jump - +punktk)*(+metr)+60+(+points)+(wind*10)).toFixed(1);
			    } else if ( +punktk < 100 ) {
			          if ( +jump < (+punktk)-30 ){
			              jumpPoints = ((+points)+(wind*10)).toFixed(1);	
			          }
			          else {
			              jumpPoints = ((+punktk - (+jump))*(-1)*(+metr)+60+(+points)+(wind*10)).toFixed(1);	
			          }
			    } else if ( +punktk >= 100 && +punktk < 135 ) {
				  if ( +jump < (+punktk)-33 ){
			              jumpPoints = ((+points)+(wind*10)).toFixed(1);	
			          }
			          else {
			              jumpPoints = ((+punktk - (+jump))*(-1)*(+metr)+60+(+points)+(wind*10)).toFixed(1);	
			          }
			    } else {
			          if ( +jump < (+punktk)-50 ){
			              jumpPoints = ((+points)+(wind*10)).toFixed(1);	
			          }
			          else {
			              jumpPoints = ((+punktk - (+jump))*(-1)*(+metr)+60+(+points)+(wind*10)).toFixed(1);	
			          }
			    }
			    var result = ((+jump1Points) + (+jumpPoints)).toFixed(1);
			    socket.emit('addUpdateResult', jumper,nation,jump1,wind1,nota1,nota2,nota3,nota4,nota5,jump1Points,jump,wind,nota6,nota7,nota8,nota9,nota10,jumpPoints,result);
			    socket.emit('removeThisResult',jumper);
			    socket.emit('adminChannel', jumper,nation,jump1,wind1,nota1,nota2,nota3,nota4,nota5,jump1Points,jump,wind,nota6,nota7,nota8,nota9,nota10,jumpPoints,result,"update");
			    $('#imieSkoczka, #skok1, #nota1, #nota2, #nota3, #nota4, #nota5, #wind').val("");
			    $('#skok2, #nota6, #nota7, #nota8, #nota9, #nota10, #wind2').val("");
			}
			
			$('#sendLeft').click(function(){
			   checkInputs();
			});
			//------------------------------------------------------------//
			//------------ add/update 1 skoczka z listy ------------------//
			//------------------------------------------------------------//
			$('#addUpdateResult2').click(function(){
			   checkInputs2();
			});
			$('#updateResult1').click(function(){
			   checkInputs("update");			
			});
			//------------------------------------------------------------//
			//--------- podswietlanie blednie wprowadzonych danych -------//
			//------------------------------------------------------------//
			podswietl_blad = function(element){
			    $('#'+element).css('background-color', '#FA6A6A');
			    window.setTimeout(function(){
				$('#'+element).css('background-color', 'rgba(0,255,43,0.2)');
		            }, 2500);
			    document.getElementById(element).focus();
			}
			//------------------------------------------------------------//
			//------------------ dodawanie 2 serii -----------------------//
			//------------------------------------------------------------//
			checkInputs2 = function(){
			    var findJumper = $('#imieSkoczka').val();
			    var pattern = /^[A-ZĆŁŹŻ][a-ząćęłńóśźż]{1,}\s[A-ZĆŁŹŻ][a-ząćęłńóśźż]{1,}$/g;
			    var test_jumper = pattern.test(findJumper);
			    if (test_jumper) {
			       socket.emit('checkResultBeforeUpdate',findJumper);
			       socket.removeListener('checkedResultBeforeUpdate');
			       socket.on('checkedResultBeforeUpdate',function(results){
					var sprawdz = results.jumper;
					if ( sprawdz == findJumper) {
						var punktk = $('#punktK').val();
						var jump2 = $('#skok2').val();
						var wind2 = $('#wind2').val();
						var nota6 = $('#nota6').val();
						var nota7 = $('#nota7').val();
						var nota8 = $('#nota8').val();
						var nota9 = $('#nota9').val();
						var nota10 = $('#nota10').val();
						var pattern_nota = /^([1-9]{1,1}.(0{1,1}|5{1,1}))$|^(1{1,1}[0-9]{1,1}.(0{1,1}|5{1,1}))$|^20.0$/;
						var pattern_jump = /^([5-9]{1,1}[0-9]{1,1}.(0{1,1}|5{1,1}))$|^([1-2]{1,1}[0-9]{1,1}[0-9]{1,1}.(0{1,1}|5{1,1}))$/;
						var pattern_punktk = /^([5-9]{1,1}[0-9]{1,1})$|^(1[0-9]{1,1}[0-9]{1,1})$|^200$/g;
						var pattern_wind = /^-[0-2]{1,1}.[0-9]{1,1}[0-9]{1,1}$|^[0-2]{1,1}.[0-9]{1,1}[0-9]{1,1}$/;
						var test_punktk = pattern_punktk.test(punktk);
						var test_jump = pattern_jump.test(jump2);
						var test_wind = pattern_wind.test(wind2);
						var test_nota6 = pattern_nota.test(nota6);
						var test_nota7 = pattern_nota.test(nota7);
						var test_nota8 = pattern_nota.test(nota8);
						var test_nota9 = pattern_nota.test(nota9);
						var test_nota10 = pattern_nota.test(nota10);
						if ( test_punktk ) {
						if ( test_jump) {
					           if (test_wind) {
						      if (test_nota6) {
						         if (test_nota7) {
						            if (test_nota8) {
						               if (test_nota9) {
						                  if (test_nota10) {
						                     var tab = [];
								     var points = 0.0;
								     tab[0]= (+nota6); tab[1]= (+nota7); tab[2]= (+nota8); tab[3]= (+nota9); tab[4]= (+nota10);
								     tab.sort(function(a,b){if ( a < b ) return 0; else if ( a > b ) return 1; else return -1; });
								     var i;
								     for ( i=1; i<=3; i++){
									points+=tab[i];
								     };
						                     adminUpdate2SeriaMsg(results.jumper, results.nation, results.jump1, results.wind1,
										    results.nota1, results.nota2, results.nota3, results.nota4, results.nota5,
										    results.points1,jump2,wind2,nota6,nota7,nota8,nota9,nota10,points,punktk);
								     $('#alertData').text("");
						                  } else {
						                     $('#alertData').text("Wpisz poprawnie notę 5! Przedział < 1.0 , 20.0 >");
								     podswietl_blad('nota10');
								  }
								} else{
								   $('#alertData').text("Wpisz poprawnie notę 4! Przedział < 1.0 , 20.0 >");
						                   podswietl_blad('nota9');
								}
						             } else{
								$('#alertData').text("Wpisz poprawnie notę 3! Przedział < 1.0 , 20.0 >");
								podswietl_blad('nota8');
							     }
						          } else{
						              $('#alertData').text("Wpisz poprawnie notę 2! Przedział < 1.0 , 20.0 >");
							      podswietl_blad('nota7');
							  }
						       } else{
						          $('#alertData').text("Wpisz poprawnie notę 1! Przedział < 1.0 , 20.0 >");
							  podswietl_blad('nota6');
						       }
						    } else{
						        $('#alertData').text("Wpisz poprawnie wiatr! Przedział < -2.99 , 2.99 >");
							podswietl_blad('wind2');
						    }
						 } else{
						    $('#alertData').text("Wpisz poprawnie długość skoku! Przedział < 50.0 , 299.5 >");
						    podswietl_blad('skok2');
						 }
						} else {
						    $('#alertData').text("Rozmiar skoczni musi być z przedziału 50-200!");
						    podswietl_blad('punktK');		
						}
					} else {
						$('#alertData').text("Nie ma wyników 1 serii tego skoczka!");
						podswietl_blad('wpis');
					}
			       });
			    } else {
				$('#alertData').text("Wpisz poprawnie imię i nazwisko skoczka!");
				podswietl_blad('wpis');
			    }
			}
			//---------- usuwanie 1 skoczka z listy      -------------//
			$('#removeResult').click(function(){
			    var findJumper = $('#imieSkoczka').val();
			    var pattern = /^[A-ZĆŁŹŻ][a-ząćęłńóśźż]{1,}\s[A-ZĆŁŹŻ][a-ząćęłńóśźż]{1,}$/g;
			    var test_jumper = pattern.test(findJumper);
			    if (test_jumper) {
			       socket.emit('checkResultBeforeDelete',findJumper);
			       socket.removeListener('checkedResultBeforeDelete');
			       socket.on('checkedResultBeforeDelete',function(results){
					var sprawdz = results.jumper;
					if ( sprawdz == findJumper) {
						var potwierdzenie = confirm("Jesteś pewny?");
						if ( potwierdzenie == true) {
						socket.emit('deleteResult',findJumper);
						socket.emit('removeThisResult',findJumper);
						$('#alertData').text("");
						}
					} else {
						$('#alertData').text("Nie ma wyników tego skoczka w bazie!");
						podswietl_blad('wpis');	
					}
			       });
			    } else {
				$('#alertData').text("Wpisz poprawnie imię i nazwisko skoczka!");
				podswietl_blad('wpis');		
			    }
			});
			// ----------------------------------------------------------------- //
			// -------------- pobieranie danych do formularza ------------------ //
			// ----------------------------------------------------------------- //
			$('#getResults').click(function(){
			    var findJumper = $('#imieSkoczka').val();
			    var pattern = /^[A-ZĆŁŹŻ][a-ząćęłńóśźż]{1,}\s[A-ZĆŁŹŻ][a-ząćęłńóśźż]{1,}$/g;
			    var test_jumper = pattern.test(findJumper);
			    if (test_jumper) {
				socket.emit('findResultJumper',findJumper);
				$('#alertData').text("");
			    } else {
				$('#alertData').text("Wpisz poprawnie imię i nazwisko skoczka!");
				podswietl_blad('wpis');
			    }
			});
			socket.removeListener('showResultJumper');
			socket.on('showResultJumper', function(dane) {
			if ( +dane.jump1 == "0") {
				$('#alertData').text("Nie ma jeszcze wyników tego zawodnika!");
				$('#skok1, #nota1, #nota2, #nota3, #nota4, #nota5, #wind').val("");
			        $('#skok2, #nota6, #nota7, #nota8, #nota9, #nota10, #wind2').val("");
			} else {
			    $('#skok1').val((+dane.jump1).toFixed(1));
			    $('#skok2').val((+dane.jump2).toFixed(1));
			    $('#wind').val((+dane.wind1).toFixed(2));
			    $('#wind2').val((+dane.wind2).toFixed(2));
			    $('#nota1').val((+dane.nota1).toFixed(1));
			    $('#nota2').val((+dane.nota2).toFixed(1));
			    $('#nota3').val((+dane.nota3).toFixed(1));
			    $('#nota4').val((+dane.nota4).toFixed(1));
			    $('#nota5').val((+dane.nota5).toFixed(1));
			    $('#nota6').val((+dane.nota6).toFixed(1));
			    $('#nota7').val((+dane.nota7).toFixed(1));
			    $('#nota8').val((+dane.nota8).toFixed(1));
			    $('#nota9').val((+dane.nota9).toFixed(1));
			    $('#nota10').val((+dane.nota10).toFixed(1));
			}
			});
			//---------------------------------------------------------// 
			checkInputs = function(jaka_operacja){
			    var jumper_name = $('#imieSkoczka').val();
			    var punktk = $('#punktK').val();
			    var jump = $('#skok1').val();
			    var nota1 = $('#nota1').val();
			    var nota2 = $('#nota2').val();
			    var nota3 = $('#nota3').val();
			    var nota4 = $('#nota4').val();
			    var nota5 = $('#nota5').val();
			    var nation = $('#adminMsg5').val();
			    var wind = $('#wind').val();
			    var pattern_nota = /^([1-9]{1,1}.(0{1,1}|5{1,1}))$|^(1{1,1}[0-9]{1,1}.(0{1,1}|5{1,1}))$|^20.0$/;
			    var pattern_jump = /^([5-9]{1,1}[0-9]{1,1}.(0{1,1}|5{1,1}))$|^([1-2]{1,1}[0-9]{1,1}[0-9]{1,1}.(0{1,1}|5{1,1}))$/;
			    var pattern_punktk = /^([5-9]{1,1}[0-9]{1,1})$|^(1[0-9]{1,1}[0-9]{1,1})$|^200$/g;
			    var pattern = /^[A-ZĆŁŹŻ][a-ząćęłńóśźż]{1,}\s[A-ZĆŁŹŻ][a-ząćęłńóśźż]{1,}$/g;
			    var pattern_wind = /^-[0-2]{1,1}.[0-9]{1,1}[0-9]{1,1}$|^[0-2]{1,1}.[0-9]{1,1}[0-9]{1,1}$/;
			    var TrueOrFalse = pattern.test(jumper_name);
			    var test_punktk = pattern_punktk.test(punktk);
			    var test_jump = pattern_jump.test(jump);
			    var test_nota1 = pattern_nota.test(nota1);
			    var test_nota2 = pattern_nota.test(nota2);
			    var test_nota3 = pattern_nota.test(nota3);
			    var test_nota4 = pattern_nota.test(nota4);
			    var test_nota5 = pattern_nota.test(nota5);
			    var test_wind = pattern_wind.test(wind);
			    if (test_punktk) {
			        if (TrueOrFalse) {
			            if ( test_jump) {
					if (test_wind) {
					   if (test_nota1) {
			                      if (test_nota2) {
						 if (test_nota3) {
						    if (test_nota4) {
						       if (test_nota5) {
						          var tab = [];
							  var points = 0.0;
							  tab[0]= (+nota1); tab[1]= (+nota2); tab[2]= (+nota3); tab[3]= (+nota4); tab[4]= (+nota5);
							  tab.sort(function(a,b){if ( a < b ) return 0; else if ( a > b ) return 1; else return -1; });
							  var i;
							  for ( i=1; i<=3; i++){
								points+=tab[i];
							  };
							  socket.emit('checkResultBeforeAdd',jumper_name);
							  socket.removeListener('checkedResultBeforeAdd');
							  socket.on('checkedResultBeforeAdd',function(results){
						          var sprawdz = results.jumper;
							  if ( sprawdz == jumper_name) {
									if ( jaka_operacja == "update") {
									    adminUpdate1SeriaMsg(results.jumper,results.nation,jump,wind,nota1,nota2,nota3,nota4,nota5,points,
												 results.jump2,results.wind2,results.nota6,results.nota7,results.nota8,results.nota9,
												 results.nota10,results.points2,punktk);
									} else {
									$('#alertData').text("Ten skoczek jest już na liście wyników!");
									podswietl_blad('wpis');
									}
						          } else   {
									    adminSendMsg(jumper_name,nation,jump,wind,nota1,nota2,nota3,nota4,nota5,points,punktk);
								}
						          });

						       } else {
						          $('#alertData').text("Wpisz poprawnie notę 5! Przedział < 1.0 , 20.0 >");
					                  podswietl_blad('nota5');
						       }
						     } else {
					                $('#alertData').text("Wpisz poprawnie notę 4! Przedział < 1.0 , 20.0 >");
					                podswietl_blad('nota4');
						     }
						 } else {
						    $('#alertData').text("Wpisz poprawnie notę 3! Przedział < 1.0 , 20.0 >");
					            podswietl_blad('nota3');
						 }
					      } else {
						 $('#alertData').text("Wpisz poprawnie notę 2! Przedział < 1.0 , 20.0 >");
					         podswietl_blad('nota2');
					      }
					   } else {
			                      $('#alertData').text("Wpisz poprawnie notę 1! Przedział < 1.0 , 20.0 >");
					      podswietl_blad('nota1');
					   }
					} else {
					   $('#alertData').text("Wpisz poprawnie wiatr! Przedział < -2.99 , 2.99 >");
					   podswietl_blad('wind');
					}
				    } else {
					$('#alertData').text("Wpisz poprawnie długość skoku! Przedział < 50.0 , 299.5 >");
					podswietl_blad('skok1');
				    }
				   
			        } else {
				   $('#alertData').text("Wpisz poprawnie imię i nazwisko skoczka!");
				   podswietl_blad('wpis');
			        }

			    } else {
			       $('#alertData').text("Rozmiar skoczni musi być z przedziału 50-200!");
			       podswietl_blad('punktK');
			    }
			};
			$('#destroy').click(function(){
				var potwierdzenie = confirm("Jesteś pewny?");
				if ( potwierdzenie == true) {
			           socket.emit('destroyTable');
				}
			});
			// ----------------------------------------------------------------- //
			// ------- KEYUP's do poruszania sie klawiatura po polach ---------- //
			// ----------------------------------------------------------------- //
			$('#punktK').keyup(function(e){
			    e.preventDefault();
			    if(e.which == 13) {
			        checkInputs();	
			    } else if (e.which == 40) {
				document.getElementById('imieSkoczka').focus();
			    }
			});
			$('#imieSkoczka').keyup(function(e){
			    e.preventDefault();
			    if(e.which == 13) {
				e.preventDefault();
				var findJumper = $('#imieSkoczka').val();
				// jesli enter wcisniety gdy nie byl pusty input
				if ( findJumper !== '') {
				        // pobranie do zmiennej source pierwszej podpowiedzi
					var source = $('.ui-widget-content > li:first-child').text();
					// zbadanie dlugosci wpisanego tekstu,
					// zeby wyciac taka dlugosc z pierwszego slowa ze slownika i porownac
					var dlugosc = findJumper.length;
					// wyciecie poczatku tekstu
					var poczatek_slowa = source.substr(0,dlugosc);
					console.log("Dlugosc slowa source: "+dlugosc);
					console.log("Poczatek slowa source: "+poczatek_slowa);
					console.log("Find Jumper: "+findJumper);
					// jesli sie zgadzaja, to wybieramy pierwsza podpowiedz z listy
					// i akceptujemy ja
				        if ( poczatek_slowa === findJumper) {
				              $('.ui-widget-content > li:first-child').focus().click();
					      $('#imieSkoczka').val(source);
				        }
				}
				// przypisanie ponowne, poniewaz jesli sie zgadza wpisany tekst
				// z elementem z listy, przypisujemy ten element z listy
				findJumper = $('#imieSkoczka').val();
				console.log("Find Jumper przed pattern: "+findJumper);
				$('#alertData').text("");
				var pattern = /^[A-ZĆŁŹŻ][a-ząćęłńóśźż]{1,}\s[A-ZĆŁŹŻ][a-ząćęłńóśźż]{1,}$/g;
			        var test_jumper = pattern.test(findJumper);
			        if (test_jumper) {
			            socket.emit('findResultJumper',findJumper);
				} else {
				    $('#alertData').text("Wpisz poprawnie imię i nazwisko skoczka!");
				    $('#imieSkoczka, #skok1, #nota1, #nota2, #nota3, #nota4, #nota5, #wind').val("");
			            $('#skok2, #nota6, #nota7, #nota8, #nota9, #nota10, #wind2').val("");
				    podswietl_blad('wpis');
				}
			    } else if (e.which == 39) {
				document.getElementById('adminMsg5').focus();
			    } else if (e.which == 8) {
				$('#wpis').text('');
			    } else {
				// powoduje miganie podpowiedzi, ale nie ma bledu podpowiedz przez 0,1s
				$( "#wpis" ).text('');
				var wpisana_tresc = $('#imieSkoczka').val();
				var dlugosc = wpisana_tresc.length;
				var wycinek;
				// tutaj takze zabezpieczenie przed zapamietana wartoscia source
				window.setTimeout(function(){
				   var source = $('.ui-widget-content > li:first-child').text();
				   wycinek = source.substr(0,dlugosc);
				   // wypisze tylko wtedy, gdy poczatek sie zgadza
				   if ( wycinek == wpisana_tresc) {
					$( "#wpis" ).text(source);
				   } else {
					$( "#wpis" ).text('');	
				   }
				},250);
			    }
			});
			$('#adminMsg5').keyup(function(e){
			    if(e.which == 13) {
			        document.getElementById('skok1').focus();	
			    } else if(e.which == 8) {
			        document.getElementById('imieSkoczka').focus();	
			    }
			});
			//------------------------------------------------------------//
			//---------------- funkcja do keyevents 1 rundy --------------//
			//------------------------------------------------------------//
			keyevents_1_round = function(e,up,right,down){
		            if(e.which == 13) {
			        checkInputs();	
			    } else if (e.which == 38) {
				document.getElementById(up).focus();
			    } else if (e.which == 39) {
				document.getElementById(right).focus();
			    } else if (e.which == 40) {
				document.getElementById(down).focus();
			    }
			}
			$('#skok1').keyup(function(e){ keyevents_1_round(e,'adminMsg5','skok2','wind');	});
			$('#wind').keyup(function(e){ keyevents_1_round(e,'skok1','wind2','nota1');	});
			$('#nota1').keyup(function(e){ keyevents_1_round(e,'wind','nota6','nota2');	});
			$('#nota2').keyup(function(e){ keyevents_1_round(e,'nota1','nota7','nota3');	});
			$('#nota3').keyup(function(e){ keyevents_1_round(e,'nota2','nota8','nota4');	});
			$('#nota4').keyup(function(e){ keyevents_1_round(e,'nota3','nota9','nota5');	});
			$('#nota5').keyup(function(e){ keyevents_1_round(e,'nota4','nota10','skok2');	});
			//------------------------------------------------------------//
			//---------------- funkcja do keyevents 2 rundy --------------//
			//------------------------------------------------------------//
			keyevents_2_round = function(e,left,up,down){
		            if(e.which == 13) {
			        checkInputs2();	
			    } else if (e.which == 37) {
				document.getElementById(left).focus();
			    } else if (e.which == 38) {
				document.getElementById(up).focus();
			    } else if (e.which == 40 && down != '') {
				document.getElementById(down).focus();
			    }
			}
			$('#skok2').keyup(function(e){ keyevents_2_round(e,'skok1','nota5','wind2');	});
			$('#wind2').keyup(function(e){ keyevents_2_round(e,'wind','skok2','nota6');	});
			$('#nota6').keyup(function(e){ keyevents_2_round(e,'nota1','wind2','nota7');	});
			$('#nota7').keyup(function(e){ keyevents_2_round(e,'nota2','nota6','nota8');	});
			$('#nota8').keyup(function(e){ keyevents_2_round(e,'nota3','nota7','nota9');	});
			$('#nota9').keyup(function(e){ keyevents_2_round(e,'nota4','nota8','nota10');	});
			$('#nota10').keyup(function(e){keyevents_2_round(e,'nota5','nota9','');		});
			<%}%>
			//------------------------------------------------------------//
			//----------- podswietlanie dodanych elementow  --------------//
			//------------------------------------------------------------//
			var podswietl_dodany_element = function(co_podswietlic){
			    co_podswietlic.addClass('highlightPost');
			    window.setTimeout(function() {
			    co_podswietlic.removeClass('highlightPost');
			    }, 2500);
			};
			//------------------------------------------------------------//
			//----------- ustawianie przeplatania kolorow ----------------//
			//------------------------------------------------------------//
			var ustaw_przeplatanie_kolorow = function(){
				if ($('#liveRelation .liveRelationRow:even').hasClass('highlightOdd')) {
			            $('#liveRelation .liveRelationRow:even').removeClass('highlightOdd');		
			        }
			        $('#liveRelation .liveRelationRow:odd').addClass('highlightOdd');		
			};
			
			var gdzieWstawic;
			socket.removeListener('adminMsg');
			socket.on('adminMsg', function(dane) {
			    var punkty = $('.liveRelationRow').first();
			    gdzieWstawic = $('.liveRelationRow').first();
			    var ilZawodnikow, rank;
			    if ($('.liveRelationRow').length > 0) {
			        for (var i=0;i<70;i++) {
			             if (punkty.find('div .finalResult').text() != "") {
			                  if ( +punkty.find('.finalResult').text() <= +dane.result) {
						rank = $(gdzieWstawic).find('.rank').text();
						if ( dane.jump2 == "0") {
						    $(gdzieWstawic).hide().before('<div class="liveRelationRow"><div class="liveDescription"><div class="rank">'+
							rank+'</div><div class="kolumna" style="width: 140px" data-jumper="'+dane.jumper+'">'+
							dane.jumper+'</div><div class="nation"><img src="../graph/nat/'+
							dane.nation+'.gif"></div><div class="jump1" style="width: 45px">'+
							(+dane.jump1).toFixed(1)+'</div><div class="points1" style="width: 45px" value="'+dane.points1+'">'+
							(+dane.points1).toFixed(1)+'</div><div class="jump2" style="width: 45px">'+
							"-"+'</div><div class="points2" style="width: 45px">'+
							"-"+'</div><div class="finalResult" style="width: 45px">'+
							(+dane.result).toFixed(1)+'</div></div></div>');
						} else {
						$(gdzieWstawic).hide().before('<div class="liveRelationRow"><div class="liveDescription"><div class="rank">'+
									rank+'</div><div class="kolumna" style="width: 140px" data-jumper="'+dane.jumper+'">'+
									dane.jumper+'</div><div class="nation"><img src="../graph/nat/'+
									dane.nation+'.gif"></div><div class="jump1" style="width: 45px">'+
									(+dane.jump1).toFixed(1)+'</div><div class="points1" style="width: 45px" value="'+dane.points1+'">'+
									(+dane.points1).toFixed(1)+'</div><div class="jump2" style="width: 45px">'+
									(+dane.jump2).toFixed(1)+'</div><div class="points2" style="width: 45px">'+
									(+dane.points2).toFixed(1)+'</div><div class="finalResult" style="width: 45px">'+
									(+dane.result).toFixed(1)+'</div></div></div>');
						}
						$(gdzieWstawic).hide().slideDown();
						ustaw_przeplatanie_kolorow();
						ilZawodnikow = $('.rank').length;
						rank = $('.liveRelationRow').first();
						for ( var j=1; j<=ilZawodnikow; j++) {
						    rank.find('.rank').text(j);
						    rank = rank.next();
						};
						podswietl_dodany_element($(gdzieWstawic).prev());
					        i=70;
					  }
					  else {
				                punkty = punkty.next();
					        gdzieWstawic = gdzieWstawic.next();
			               }
				     } else {
						var rank = $('.liveRelationRow').length;
						if ( dane.jump2 == "0") { 
						   $('<div class="liveRelationRow"><div class="liveDescription"><div class="rank">'+
							(rank+1)+'</div><div class="kolumna" style="width: 140px" data-jumper="'+dane.jumper+'">'+
							dane.jumper+'</div><div class="nation"><img src="../graph/nat/'+
							dane.nation+'.gif"></div><div class="jump1" style="width: 45px">'+
							(+dane.jump1).toFixed(1)+'</div><div class="points1" style="width: 45px" value="'+dane.points1+'">'+
							(+dane.points1).toFixed(1)+'</div><div class="jump2" style="width: 45px">'+
							"-"+'</div><div class="points2" style="width: 45px">'+
							"-"+'</div><div class="finalResult" style="width: 45px">'+
							(+dane.result).toFixed(1)+'</div></div></div>').hide().appendTo('#liveRelation').slideDown();
						} else {
						   $('<div class="liveRelationRow"><div class="liveDescription"><div class="rank">'+
							(rank+1)+'</div><div class="kolumna" style="width: 140px" data-jumper="'+dane.jumper+'">'+
							dane.jumper+'</div><div class="nation"><img src="../graph/nat/'+
							dane.nation+'.gif"></div><div class="jump1" style="width: 45px">'+
							(+dane.jump1).toFixed(1)+'</div><div class="points1" style="width: 45px" value="'+dane.points1+'">'+
							(+dane.points1).toFixed(1)+'</div><div class="jump2" style="width: 45px">'+
							(+dane.jump2).toFixed(1)+'</div><div class="points2" style="width: 45px">'+
							(+dane.points2).toFixed(1)+'</div><div class="finalResult" style="width: 45px">'+
							(+dane.result).toFixed(1)+'</div></div></div>').hide().appendTo('#liveRelation').slideDown();
						}
						ustaw_przeplatanie_kolorow();
						podswietl_dodany_element($('.liveRelationRow').last());
						i=70;
			             } 
			        }
			     } 
				else {
			          if ( dane.jump2 == "0") {
					$('<div class="liveRelationRow"><div class="liveDescription"><div class="rank">'+
					   1+'</div><div class="kolumna" style="width: 140px" data-jumper="'+dane.jumper+'">'+
						dane.jumper+'</div><div class="nation"><img src="../graph/nat/'+
						dane.nation+'.gif"></div><div class="jump1" style="width: 45px">'+
						(+dane.jump1).toFixed(1)+'</div><div class="points1" style="width: 45px" value="'+dane.points1+'">'+
						(+dane.points1).toFixed(1)+'</div><div class="jump2" style="width: 45px">'+
						"-"+'</div><div class="points2" style="width: 45px">'+
						"-"+'</div><div class="finalResult" style="width: 45px">'+
						(+dane.result).toFixed(1)+'</div></div></div>').hide().prependTo('#liveRelation').slideDown();
				  } else {
			                 $('<div class="liveRelationRow"><div class="liveDescription"><div class="rank">'+
					   1+'</div><div class="kolumna" style="width: 140px" data-jumper="'+dane.jumper+'">'+
						dane.jumper+'</div><div class="nation"><img src="../graph/nat/'+
						dane.nation+'.gif"></div><div class="jump1" style="width: 45px">'+
						(+dane.jump1).toFixed(1)+'</div><div class="points1" style="width: 45px" value="'+dane.points1+'">'+
						(+dane.points1).toFixed(1)+'</div><div class="jump2" style="width: 45px">'+
						(+dane.jump2).toFixed(1)+'</div><div class="points2" style="width: 45px">'+
						(+dane.points2).toFixed(1)+'</div><div class="finalResult" style="width: 45px">'+
						(+dane.result).toFixed(1)+'</div></div></div>').hide().prependTo('#liveRelation').slideDown();
				  }
				  podswietl_dodany_element($('.liveRelationRow').first());
				}
			 });

			// Ładowanie listy startowej do pola Imię i nazwisko skoczka
			socket.emit('loadStartListToAutocomplete');
			socket.removeListener('jumpersList');
			socket.on('jumpersList', function(jumper) {
			   var startList = [];
			   for ( var i=0; i<jumper.length; i++) {
				startList.push(jumper[i].name+" "+jumper[i].surname);
			   }
			   startList.sort();
			   //startList.reverse();
			   $(function() {
			     $("#imieSkoczka").autocomplete({
		             // source: startList
			     source: function(request, response) {
				var filteredArray = $.map(startList, function(item) {
		                   if(item.indexOf(request.term) == 0){
				      return item;
				   }
				   else{
				      return null;
				   }
			        });
			        response(filteredArray);
			        }	     
		              });
			   });
			});			
			// ładowanie poprzednich postow
			socket.emit('loadAdminPosts', 'load');
			socket.removeListener('adminMsgs');
			socket.on('adminMsgs', function(listaDanych) {
			    for (var i=0;i<listaDanych.length;i++) {
				if (listaDanych[i].result){
				if ( listaDanych[i].jump2 == "0") {
					$('#liveRelation').append('<div class="liveRelationRow"><div class="liveDescription"><div class="rank">'+
							  (i+1)+'</div><div class="kolumna" style="width: 140px" data-jumper="'+listaDanych[i].jumper+'">'+
							  listaDanych[i].jumper+'</div><div class="nation"><img src="../graph/nat/'+
							  listaDanych[i].nation+'.gif"></div><div class="jump1" style="width: 45px">'+
							  (+listaDanych[i].jump1).toFixed(1)+'</div><div class="points1" style="width: 45px" value="'+listaDanych[i].points1+'">'+
							  (+listaDanych[i].points1).toFixed(1)+'</div><div class="jump2" style="width: 45px">'+
							  "-"+'</div><div class="points2" style="width: 45px">'+
							  "-"+'</div><div class="finalResult" style="width: 45px">'+
							  (+listaDanych[i].result).toFixed(1)+'</div></div></div>');
				} else {
				$('#liveRelation').append('<div class="liveRelationRow"><div class="liveDescription"><div class="rank">'+
							  (i+1)+'</div><div class="kolumna" style="width: 140px" data-jumper="'+listaDanych[i].jumper+'">'+
							  listaDanych[i].jumper+'</div><div class="nation"><img src="../graph/nat/'+
							  listaDanych[i].nation+'.gif"></div><div class="jump1" style="width: 45px">'+
							  (+listaDanych[i].jump1).toFixed(1)+'</div><div class="points1" style="width: 45px" value="'+listaDanych[i].points1+'">'+
							  (+listaDanych[i].points1).toFixed(1)+'</div><div class="jump2" style="width: 45px">'+
							  (+listaDanych[i].jump2).toFixed(1)+'</div><div class="points2" style="width: 45px">'+
							  (+listaDanych[i].points2).toFixed(1)+'</div><div class="finalResult" style="width: 45px">'+
							  (+listaDanych[i].result).toFixed(1)+'</div></div></div>');
				}
				}
			    }
			    $('#liveRelation .liveRelationRow:odd').addClass('highlightOdd');
			});
			// usuwanie wyniku by ponownie go dodac przy update
			socket.removeListener('removeResult');
			socket.on('removeResult', function(findJumper){
				var current_position = $(".liveRelationRow").find("[data-jumper='"+findJumper+"']").parent().parent();
				current_position = current_position.next();
				var rank;
				while ( current_position.find('.rank').text() != "") {
					rank = +current_position.find('.rank').text();
					rank -= 1;
					current_position.find('.rank').text(rank);
					current_position = current_position.next();
				}
				$(".liveRelationRow").find("[data-jumper='"+findJumper+"']").parent().parent().remove();
				ustaw_przeplatanie_kolorow();
			});
						
			// usuwanie danych z klasyfikacji
			socket.removeListener('truncateTable');
			socket.on('truncateTable', function(){
				$('#liveRelation > div').remove();
			});
			
			// wyslanie wiadomosci prywatnej do admina
			userSendToAdmin = function(msg){
			    sendInfo = {message: msg, nick: '<%= userNick %>'};
			    socket.emit('pmToAdmin', sendInfo);
			    $('#pmToAdmin').val('');
			}
			$('#sendPMToAdmin').click(function(){
			    userSendToAdmin($('#pmToAdmin').val());
			});
			$('#pmToAdmin').keyup(function(e){
			    if(e.which == 13) {
			    userSendToAdmin($('#pmToAdmin').val());
			    }
			});
			
			// wyswietlenie snippetu prywatnej wiadomosci
			socket.removeListener('showToAdmin');
			socket.on('showToAdmin', function(dane) {
			var currentName = '<%= userNick %>'; 
			if ( currentName == 'Admin') {
			var shortMessage = dane.message.substring(0, dane.message.length > 30 ? 30 : dane.message.length) + (dane.message.length > 30 ? '...' : '');
			    $('.nick').text(dane.nick);
			    $('.cloud').text(shortMessage);
			    $('#privateMessage').slideDown();//.addClass('highlightPost');
			    window.setTimeout(function() {
			    //$('#privateMessage').removeClass('highlightPost');
			    $('#privateMessage').slideUp();
			    }, 3500);
			    $('#privateMessages').prepend('<option val="'+dane.nick+':'+dane.message+'" selected>'+dane.nick+':'+dane.message+'</option>');
				
			}
			});
			// podczas odpowiedzi zostaje takze usunieta prywatna wiadomosc usera
			responseToUser = function(msg){
			    var selectedValue = $('#privateMessages').val();
			    var index = selectedValue.indexOf(":");
			    nickname = selectedValue.substring(0,index);
			    sendInfo = {message: msg, nick: nickname};
			    var current = $('#privateMessages').find('option').first();
			    $('#privateMessages').find('option').each(function(){
					if ( current.val() == selectedValue) {
						current.remove();
						return;
					}
					current = current.next();
			    });
			    socket.emit('removePM',selectedValue);
			    socket.emit('adminResponse', sendInfo);
			    $('#adminResponse').val('');
			};
			$('#answerToUser').click(function(){
			    responseToUser($('#adminResponse').val());
			});
			$('#adminResponse').keyup(function(e){
			    if(e.which == 13) {
			    responseToUser($('#adminResponse').val());
			    }
			});
			
			// odpowiedz admina do uzytkownika
			socket.removeListener('responseToUser');
			socket.on('responseToUser', function(dane) {
			   var currentName = '<%= userNick %>'; 
			   if ( currentName == dane.nick) {
			       $('<div class="userPost"><div class="cloud">'+dane.message+'</div><div class="cloudDynks"></div><div class="userData"><div class="nick">Admin</div><div class="PostTime">'+dane.time+'</div></div></div>').hide().prependTo('#rightColumn').slideDown();
			   }
			});
			
			// wyslanie do serwera informacji z trescia posta
			userSendMsg = function(msg)
			    {
			    sendInfo = {message: msg, nick: '<%= userNick %>'};
			    socket.emit('usersChannel', sendInfo);
			    $('#userMsg').val('');
			    }
			$('#sendRight').click(function(){
			    userSendMsg($('#userMsg').val());
			});
			$('#userMsg').keyup(function(e){
			    if(e.which == 13) {
			    userSendMsg($('#userMsg').val());
			    }
			});
			// dodanie postu na czacie
			socket.removeListener('userMsg');
			socket.on('userMsg', function(dane) {
			<%if (!isAdminLogged) {%>
			    $('<div class="userPost"><div class="cloud">'+dane.message+'</div><div class="cloudDynks"></div><div class="userData"><div class="nick">'+dane.nick+'</div><div class="PostTime">'+dane.time+'</div></div></div>').hide().prependTo('#rightColumn').slideDown();
			<%}%>
			});
			
			// ładowanie PM's do panelu admina
			socket.emit('loadPMPosts');
			socket.removeListener('PMPosts');
			socket.on('PMPosts', function(pms) {
			var ile = 0;
			if ( pms.length > 0 ){
			while ( pms.length > ile){
			        $('#privateMessages').prepend('<option val="'+pms[ile].nick+':'+pms[ile].message+'" selected>'+pms[ile].nick+':'+pms[ile].message+'</option>');
				ile++;
				}
			}
			});
				
			// ładowanie poprzednich odpowiedzi admina
			socket.emit('loadResponsePosts');
			socket.removeListener('responsePosts');
			socket.on('responsePosts', function(responses) {
			     var currentName = '<%= userNick %>';
			     responses.forEach(function(singleone){
			         if ( currentName == singleone.nick) {
			             $('<div class="userPost"><div class="cloud">'+singleone.message+'</div><div class="cloudDynks"></div><div class="userData"><div class="nick">Admin</div><div class="PostTime">'+singleone.time.substring(11,16)+'</div></div></div>').prependTo('#rightColumn');
			         }
			     });
			});
			// ładowanie poprzednich postow
			socket.emit('loadChatPosts', 'load');
			socket.removeListener('chatPosts');
			socket.on('chatPosts', function(listaDanych) {
			<%if (!isAdminLogged) {%>
			    listaDanych.forEach(function(dane){
				if (dane.time)
				$('#rightColumn').append('<div class="userPost"><div class="cloud">'+dane.message+'</div><div class="cloudDynks"></div><div class="userData"><div class="nick">'+dane.nick+'</div><div class="PostTime">'+dane.time.substring(11,16)+'</div></div></div>');
			    });
			<%}%>
			});

			
			
		</script>